body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
}

.header {
  text-align: center;
  padding: 20px;
}

.subtitle {
  letter-spacing: 2px;
  margin-top: 4px;
}

.location {
  color: #777;
  margin-top: 4px;
}

.catalog {
  padding: 20px;
}

.category {
  position: relative;
}

.subcats {
  display: none;
  position: absolute;
  left: 200px;     /* distance to the right */
  top: 0;
  font-size: 14px;
  color: #444;
}




.category.main {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 24px;
}

.toggle {
  cursor: pointer;
}




.whatsapp-section {
  text-align: center;
  margin: 30px 0;
}

.whatsapp-btn {
  background: #25D366;
  color: #fff;
  padding: 14px 26px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.legacy {
  text-align: center;
  padding: 20px;
  color: #666;
}

.legacy-title {
  letter-spacing: 2px;
  margin-bottom: 6px;
}

footer {
  text-align: center;
  padding: 12px;
  font-size: 13px;
  color: #666;
}
.tm {
  font-size: 12px;
  vertical-align: super;
  margin-left: 2px;
  font-weight: 400;
}

