body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #000;
}

/* HEADER */
.header {
  text-align: center;
  padding: 20px 10px;
}

.header h1 {
  margin: 0;
  font-size: 32px;
}

.tagline {
  margin-top: 6px;
  color: #555;
}

/* PAGE TITLE */
.page-title {
  margin: 20px 16px 10px;
  font-size: 18px;
}

/* CATEGORIES */
.categories {
  padding: 0 16px;
}

.category {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}


.category strong {
  font-size: 16px;
  cursor: pointer;
}

/* SUBCATEGORIES */
.subcats {
  display: none;
  margin-top: 8px;
  margin-left: 12px;
  line-height: 1.6;
  color: #333;
}

/* WHATSAPP */
.whatsapp-section {
  text-align: center;
  margin: 30px 16px;
}

.whatsapp-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 12px 20px;
  background: #25D366;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  margin: 30px 0;
  color: #666;
  font-size: 14px;
}
